<%= form_with(model: governorate, local: true) do |form| %>
  <% if governorate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(governorate.errors.count, "error") %> prohibited this governorate from being saved:</h2>

      <ul>
      <% governorate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :governorate_name %>
  </div>

  <div class="field">
    <%= form.label :population %>
    <%= form.number_field :population, id: :governorate_population %>
  </div>

  <div class="field">
    <%= form.label :zone %>
    <%= form.text_field :zone, id: :governorate_zone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
