<!--<p id="notice"><%= notice %></p> -->
<br>
<br>
<center>
  <h1>Governorates</h1>
</center>
<table class="table table-striped table-dark" id="example">
  <thead>
    <tr>
      <th>Name</th>
      <th>Population</th>
      <th>Zone</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @governorates.each do |governorate| %>
      <tr>
        <td><%= governorate.name %></td>
        <td><%= governorate.population %></td>
        <td><%= governorate.zone %></td>
        <td><%= link_to 'Show', governorate %></td>
        <td><%= link_to 'Edit', edit_governorate_path(governorate) %></td>
        <td><%= link_to 'Destroy', governorate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Governorate', new_governorate_path %>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
  $("#example").dataTable();
</script>