<script>
  $(
    function()
    {
      $("#hide").hide();
    }
   );
</script>
<br>
<br>
<br>
<br>
<h1>Gouvernorate</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @governorate.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @governorate.population %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @governorate.zone %>
</p>

<%= link_to 'Edit', edit_governorate_path(@governorate) %> |
<%= link_to 'Back', governorates_path %>


<!-- Add police station  -->
<h1>Add new police station</h1>
<%= form_tag :action => "insert"  do %>
  <div id="hide">
    <%= text_field 'id' ,'id' , :value=>@governorate.id  %></p>
  </div>
  <p><label for='address'>Address</label>
  <%= text_field 'police_station', 'address' , :id=>"address" %></p>
  <p><label for="postal_code">Postal code</label>
  <%= number_field 'police_station', 'postal_code', :id=>"postal_code" %></p>
  <p><label for="telephone">Telephone</label>
  <%= text_field 'police_station', 'telephone' , :id=>"telephone" %></p>
  <p><label for="fax">Fax</label>
  <%= text_field 'police_station', 'fax' , :id=>"fax" %></p>
  <%= submit_tag "Create"  %>
<% end %>


<!-- end of block -->
<h1>Police Stations</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Postal code</th>
      <th>Telephone</th>
      <th>Fax</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @police_stations.each do |police_station| %>
      <tr>
        <td><%= police_station.address %></td>
        <td><%= police_station.postal_code %></td>
        <td><%= police_station.telephone %></td>
        <td><%= police_station.fax %></td>
        <td><%= link_to 'Show', police_station %></td>
        <td><%= link_to 'Edit', edit_police_station_path(police_station) %></td>
        <td><%= link_to 'Destroy', police_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>