<script>
  $(
    function()
    {
      $("#hide").hide();
    }
   );
  $(
    function()
    {
      $('#add_police_station').hide();
    }
  );
  $(
    function()
    {
      $("#bt_hide_add_police_station").hide();
    }
  );
  $(document).ready
	(
		function()
		{
			$("#bt_show_add_police_station").click
			(
				function()
				{
					$("#add_police_station").show();
          $("#bt_show_add_police_station").hide();
          $("#bt_hide_add_police_station").show();
				}
			);
		}
	);
  $(document).ready
	(
		function()
		{
			$("#bt_hide_add_police_station").click
			(
				function()
				{
					$("#add_police_station").hide();
          $("#bt_show_add_police_station").show();
          $("#bt_hide_add_police_station").hide();
				}
			);
		}
	);
</script>
<script>

</script>
<br><br>
<center>
  <h1>Gouvernorate</h1>
  <p id="notice"><%= notice %></p>
  <table style="border-collapse: collapse; border: 1px solid black; width: 50%; text-align: center;">
    <tr style="border: 1px solid black;">
      <td style="border: 1px solid black;"><strong>Name:</strong></td>
      <td style="border: 1px solid black;"><%= @governorate.name %></td>
    </tr>
    <tr>
      <td style="border: 1px solid black;"><strong>Population:</strong></td>
      <td style="border: 1px solid black;"> <%= @governorate.population %></td>
    </tr>
    <tr style="border: 1px solid black;">
      <td style="border: 1px solid black;"><strong>Zone:</strong></td>
      <td style="border: 1px solid black;"><%= @governorate.zone %></td>
    </tr>
  </table>
  <%= link_to 'Edit', edit_governorate_path(@governorate) %> |
  <%= link_to 'Back', governorates_path %>
</center>
<table id="example">
  <thead>
    <tr>
      <th>Address</th>
      <th>Postal</th>
      <th>Telephone</th>
      <th>Fax</th>
      <th><center>Show</center></th>
      <th><center>Edit</center></th>
      <th><center>Delete</center></th>
    </tr>
  </thead>
  <tbody>
    <% @police_stations.each do |police_station| %>
       <tr>
          <td><%= police_station.address %></td>
          <td><%= police_station.postal_code %></td>
          <td><%= police_station.telephone %></td>
          <td><%= police_station.fax %></td>
          <td>
            <center>
              <%= link_to '', police_station , class:"glyphicon glyphicon-eye-open" , target:"_top	" %>
            </center>
          </td>
          <td>
            <center>
              <%= link_to '', edit_police_station_path(police_station) , class:"glyphicon glyphicon-pencil" %>
            </center>
          </td>
          <td>
            <center>
              <%= link_to '', police_station, method: :delete, data: { confirm: 'Are you sure?' } , class:"glyphicon glyphicon-trash" %>
            </center>
          </td>
       </tr>
    <% end %>
  </tbody>
</table>
<button id="bt_show_add_police_station">
  Add new police station
</button>
<button id="bt_hide_add_police_station">
  Hide
</button>
<!-- Add police station  -->
<div class="container">
		<div class="row">
      <div class="col-lg-4 col-md-4 col-sm-xs-4" id="add_police_station">
        <center>
          <h3>
            Add new police station
          </h3>
        </center>
        <%= form_tag :action => "insert"  do %>
          <div id="hide">
            <%= text_field 'id' ,'id' , :value=>@governorate.id  %></p>
          </div>
          <table>
            <tr>
              <td><p><label for='title'>Title</label></td>
              <td><%= text_field 'police_station', 'title' , :id=>"title" , class:"form-control" %></p></td>
            </tr>
            <tr>
              <td><p><label for='address'>Address</label></td>
              <td><%= text_field 'police_station', 'address' , :id=>"address" , class:"form-control" %></p></td>
            </tr>
            <tr>
              <td>
                <p><label for="postal_code">Postal code</label>
              </td>
              <td>
                <%= number_field 'police_station', 'postal_code', :id=>"postal_code" , :max=>9999 , :min=>1000 , class:"form-control" %></p>
              </td>
            </tr>
            <tr>
              <td><p><label for="telephone">Telephone</label></td>
              <td>
                <%= telephone_field 'police_station', 'telephone' , :id=>"telephone" , class:"form-control" %></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><label for="fax">Fax</label>
              </td>
              <td>
                <%= telephone_field 'police_station', 'fax' , :id=>"fax" , class:"form-control" %></p>
              </td>
            </tr>
          </table>
          <%= submit_tag "Create" , class:"btn btn-lg btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- using javascript -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
  $("#example").dataTable();
</script>