<p id="notice"><%= notice %></p>

<p>
  <strong>Cin:</strong>
  <%= @victim.cin %>
</p>

<p>
  <strong>First name:</strong>
  <%= @victim.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @victim.last_name %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @victim.problem %>
</p>

<p>
  <strong>Cause of death:</strong>
  <%= @victim.cause_of_death %>
</p>

<p>
  <strong>Date of death:</strong>
  <%= @victim.date_of_death %>
</p>

<%= link_to 'Edit', edit_victim_path(@victim) %> |
<%= link_to 'Back', victims_path %>
