<p id="notice"><%= notice %></p>

<h1>Cases</h1>

<table>
  <thead>
    <tr>
      <th>Titile</th>
      <th>Type</th>
      <th>Complainant cin</th>
      <th>Complainant first name</th>
      <th>Complainant last name</th>
      <th>Complainant telephone</th>
      <th>Location</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |ca| %>
      <tr>
        <td><%= ca.titile %></td>
        <td><%= ca.type %></td>
        <td><%= ca.complainant_cin %></td>
        <td><%= ca.complainant_first_name %></td>
        <td><%= ca.complainant_last_name %></td>
        <td><%= ca.complainant_telephone %></td>
        <td><%= ca.location %></td>
        <td><%= ca.address %></td>
        <td><%= link_to 'Show', ca %></td>
        <td>
          <%= link_to 'Edit', edit_case_path(ca) %>
        </td>
        <td>
          <%= link_to 'Destroy', ca, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
