<p id="notice"><%= notice %></p>

<p>
  <strong>Titile:</strong>
  <%= @case.titile %>
</p>

<p>
  <strong>Type:</strong>
  <%= @case.type %>
</p>

<p>
  <strong>Complainant cin:</strong>
  <%= @case.complainant_cin %>
</p>

<p>
  <strong>Complainant first name:</strong>
  <%= @case.complainant_first_name %>
</p>

<p>
  <strong>Complainant last name:</strong>
  <%= @case.complainant_last_name %>
</p>

<p>
  <strong>Complainant telephone:</strong>
  <%= @case.complainant_telephone %>
</p>

<p>
  <strong>Location:</strong>
  <%= @case.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @case.address %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
