<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<center>
  <h3>Information of proof</h3>
  <table class="tab">
    <tr class="tr">
      <td class="td"><strong>Type proof:</strong></td>
      <td class="td"><%= @proof.type_proof %></td>
    </tr>
    <tr class="tr">
      <td class="td"><strong>Content:</strong></td>
      <td class="td"><%= @proof.content %></td>
    </tr>
  </table>
  <%= link_to 'Edit', edit_proof_path(@proof) %> |
  <%= link_to 'Back', proofs_path %>
</center>