<br>
<br>
<center>
  <h2>Edit this case</h2>
  <%= form_with(model: culprit, local: true) do |form| %>
    <% if culprit.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(culprit.errors.count, "error") %> prohibited this culprit from being saved:</h2>
        <ul>
        <% culprit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <td><%= form.label :cin %></td>
        <td><%= form.text_field :cin, id: :culprit_cin , class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= form.label :first_name %></td>
        <td><%= form.text_field :first_name, id: :culprit_first_name , class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= form.label :last_name %></td>
        <td><%= form.text_field :last_name, id: :culprit_last_name , class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= form.label :date_of_birth %></td>
        <td><%= form.date_select :date_of_birth, id: :culprit_date_of_birth , class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= form.label :charged_for %></td>
        <td><%= form.text_field :charged_for, id: :culprit_charged_for ,  class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= form.label :status %></td>
        <td><%= form.text_field :status, id: :culprit_status , class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= form.label :content %></td>
        <td><%= form.text_area :content, id: :culprit_content , class:"form-control" %></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="actions">
            <%= form.submit "Update" , class:"btn btn-lg btn-primary btn-block" %>
          </div>
        </td>
      </tr>
  <% end %>
  <%= link_to 'Show', @culprit %> |
  <%= link_to 'Back', culprits_path %>
</center>