<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<center>
  <table class="tab">
      <tr class="tr">
        <td class="td"><strong>Cin:</strong></td>
        <td><%= @culprit.cin %></td>
      </tr>
      <tr>
        <td><strong>First name:</strong></td>
        <td><%= @culprit.first_name %></td>
      </tr>
      <tr>
        <td><strong>Last name:</strong></td>
        <td><%= @culprit.last_name %></td>
      </tr>
      <tr>
        <td><strong>Date of birth:</strong></td>
        <td><%= @culprit.date_of_birth %></td>
      </tr>
      <tr>
        <td><strong>Charged for:</strong></td>
        <td><%= @culprit.charged_for %></td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td><%= @culprit.status %></td>
      </tr>
      <tr>
        <td><strong>Content:</strong></td>
        <td><%= @culprit.content %></td>
      </tr>
  </table>
</center>


<%= link_to 'Edit', edit_culprit_path(@culprit) %> |
<%= link_to 'Back',  :controller=>:wanteds , :action =>:find  %>
