<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<center>
  <h3>Information of the witness</h3>
  <table class="tab">
    <tr class="tr">
      <td class="td"><strong>Cin:</strong></td>
      <td class="td"><%= @waitness.cin %></td>
    </tr>
    <tr class="tr">
      <td class="td"><strong>First name:</strong></td>
      <td class="td"><%= @waitness.first_name %></td>
    </tr>
    <tr class="tr">
      <td class="td"><strong>Last name:</strong></td>
      <td class="td"><%= @waitness.last_name %></td>
    </tr>
    <tr class="tr">
      <td><strong>Telephone:</strong></td>
      <td><%= @waitness.telephone %></td>
    </tr>
    <tr class="tr">
      <td class="td"><strong>Content:</strong></td>
      <td class="td"><%= @waitness.content %></td>
    </tr>
  </table>
  <%= link_to 'Edit', edit_waitness_path(@waitness) %> |
  <%= link_to 'Back', waitnesses_path %>
</center>