<!--<p id="notice"><%= notice %></p>-->
<script>
  $(
    function()
    {
      $("#all").hide();
    }
   );
  $(
    function()
    {
      $("#hide").hide();
    }
  );
  $(document).ready
	(
		function()
		{
			$("#show_more").click
			(
				function()
				{
					$("#all").show();
          $("#hide").show();
          $("#show_more").hide();
				}
			);
		}
	);
  $(document).ready
  (
    function()
    {
      $("#hide").click
      (
        function()
        {
          $("#all").hide();
          $("#show_more").show();
          $("#hide").hide();
        }
      );
    }
  );
</script>
<br>
<br>
<br>
<br>
<br>
  <center>
    Case name :  <strong><%= @the_case.title %></strong>
    <table class="tab">
      <tr class="tr">
        <td class="border: 1px solid black">
          <strong>
            Title:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.title %>
        </td>
      </tr>
      <tr class="tr">
        <td class="td">
          <strong>
            Type:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.type_case %>
        </td>
      </tr>
      <tr class="tr">
        <td class="td">
          <strong>
            Complainant cin:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.complainant_cin %>
        </td>
      </tr>
      <tr class="tr">
        <td class="td">
          <strong>
            Complainant cin:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.complainant_cin %>
        </td>
      </tr>
      <tr class="tr">
        <td class="border: 1px solid black">
          <strong>
            Complainant first name:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.complainant_first_name %>
        </td>
      </tr>
      <tr class="tr">
        <td class="td">
          <strong>
            Complainant last name:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.complainant_last_name %>
        </td>
      </tr>
      <tr class="tr">
        <td class="td">
          <strong>
            Complainant telephone:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.complainant_telephone %>
        </td>
      </tr>
      <tr class="tr">
        <td class="td">
          <strong>
            Location:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.location %>
        </td>
      </tr>
      <tr class="tr">
        <td class="td">
          <strong>
            Address:
          </strong>
        </td>
        <td class="td">
          <%= @the_case.address %>
        </td>
      </tr>
    </table>
  <%= link_to 'Edit', edit_the_case_path(@the_case) %> |
  <%= link_to 'Back', the_cases_path %>
</center>
<center>
  <button id="show_more">
    Show more
  </button>
</center>
<center>
  <button id="hide">
    Hide
  </button>
</center>
<div style="padding-right: 1px ">
	<div class="padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-xs-12">
          <div id="all">
            <div id="form-victims">
              <div id="add-victim">
                <center>
                  <h3>
                    Add victim
                  </h3>
                  <%= form_tag :action => "insert_victim"  do %>
                    <div id="hide">
                      <%= text_field 'id' ,'id' , :value=>@the_case.id  %></p>
                    </div>
                    <table>
                      <tr>
                        <td>
                          <p><label for='cin'>Cin</label>
                        </td>
                        <td>
                          <%= text_field 'victim', 'cin' , :id=>"cin" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='first_name'>First name</label>
                        </td>
                        <td>
                          <%= text_field 'victim', 'first_name' , :id=>"first_name" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='last_name'>Last name</label>
                        </td>
                        <td>
                          <%= text_field 'victim', 'last_name' , :id=>"last_name" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='problem'>Problem</label>
                        </td>
                        <td>
                          <%= text_field 'victim', 'problem' , :id=>"problem" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='cause_of_death'>Cause of death</label>
                        </td>
                        <td>
                          <%= text_field 'victim', 'cause_of_death' , :id=>"cause_of_death" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='date_of_death'>Date of death</label>
                        </td>
                        <td>
                          <%= date_field 'victim', 'date_of_death' , :id=>"date_of_death" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <%= submit_tag "Create" , class:"btn btn-lg btn-primary btn-block" %>
                        </td>
                      </tr>
                    </table>
                  <% end %>
                </center>
              </div>
              <center>
                <h3>
                  Victims
                </h3>
              </center>
              <table class="table table-striped table-dark col-lg-6">
                <thead>
                  <tr>
                    <th>
                      <center>
                        Cin
                      </center>
                    </th>
                    <th>
                      <center>
                        First name
                      </center>
                    </th>
                    <th>
                      <center>
                        Last name
                      </center>
                    </th>
                    <th>
                      <center>
                        Problem
                      </center>
                    </th>
                    <th>
                      <center>
                        Cause of death
                      </center>
                    </th>
                    <th>
                      <center>
                        Date of death
                      </center> 
                    </th>
                    <th>
                      <center>
                        Show
                      </center>
                    </th>
                    <th>
                      <center>
                        Edit
                      </center>
                    </th>
                    <th>
                      <center>
                        Delete
                      </center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @victims.each do |victim| %>
                    <tr>
                      <td>
                        <center>
                          <%= victim.cin %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= victim.first_name %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= victim.last_name %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= victim.problem %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= victim.cause_of_death %>
                          </center>
                      </td>
                      <td>
                        <center>
                          <%= victim.date_of_death %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= link_to '', victim , class:"glyphicon glyphicon-eye-open" %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= link_to '' , edit_victim_path(victim)  , class:"glyphicon glyphicon-pencil"%>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= link_to '',victim, method: :delete, data: { confirm: 'Are you sure?' } , class:"glyphicon glyphicon-trash" %>
                        </center>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <br>
            <div id="form-culprit">
              <div id="add-culprit">
                <center>
                  <h3>
                    Add culprit
                  </h3>
                  <%= form_tag :action => "insert_culprit"  do %>
                    <div id="hide">
                      <%= text_field 'id' ,'id' , :value=>@the_case.id  %></p>
                    </div>
                    <table>
                      <tr>
                        <td>
                          <p><label for='cin_1'>Cin</label>
                        </td>
                        <td>
                          <%= text_field 'culprit', 'cin' , :id=>"cin_1" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='first_name_1'>First name</label>
                        </td>
                        <td>
                          <%= text_field 'culprit', 'first_name' , :id=>"first_name_1" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='last_name_1'>Last name</label>
                        </td>
                        <td>
                          <%= text_field 'culprit', 'last_name' , :id=>"last_name_1" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='date_of_birth'>Date of birth</label>
                        </td>
                        <td>
                          <%= date_field 'culprit', 'date_of_birth' , :id=>"date_of_birth" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='charged_for'>Charged for</label>
                        </td>
                        <td>
                          <%= text_field 'culprit', 'charged_for' , :id=>"charged_for" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for='status'>Status</label>
                        </td>
                        <td>
                          <%= date_field 'culprit', 'status' , :id=>"status" , class:"form-control" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><label for="content_5">Content</label>
                        </td>
                        <td>
                          <%= text_area 'culprit' 'content' , :id=>"content_5" , class:"form-control" %>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <%= submit_tag "Create" , class:"btn btn-lg btn-primary btn-block" %>
                        </td>
                      </tr>
                    </table>
                  <% end %>
                </center>
              </div>
              <center>
                <h3>
                  Culprits
                </h3>
              </center>
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th>
                      <center>
                        Cin
                      </center>
                    </th>
                    <th>
                      <center>
                        First name
                      </center>
                    </th>
                    <th>
                      <center>
                        Last name
                      </center>
                    </th>
                    <th>
                      <center>
                        Date of birth
                      </center>
                    </th>
                    <th>
                      <center>
                        Charged for
                      </center>
                    </th>
                    <th>
                      <center>
                        Status
                      </center>
                    </th>
                    <th>
                      <center>
                        Content
                      </center>
                    </th>
                    <th>
                      <center>
                        Show
                      </center>
                    </th>
                    <th>
                      <center>
                        Edit
                      </center>
                    </th>
                    <th>
                      <center>
                        Delete
                      </center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @culprits.each do |culprit| %>
                    <tr>
                      <td>
                        <center>
                          <%= culprit.cin %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= culprit.first_name %>
                        </center>    
                      </td>
                      <td>
                        <center>
                          <%= culprit.last_name %>
                        </center>    
                      </td>
                      <td>
                        <center>
                          <%= culprit.date_of_birth %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= culprit.charged_for %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= culprit.status %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= culprit.content %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= link_to '', culprit , class:"glyphicon glyphicon-eye-open" %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= link_to '', edit_culprit_path(culprit) , class:"glyphicon glyphicon-pencil" %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= link_to '', culprit, method: :delete, data: { confirm: 'Are you sure?' } , class:"glyphicon glyphicon-trash"  %>
                        </center>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <br>
              <div id="form-waitness">
                <div id="add_waitness">
                  <center>
                    <h3>
                      Add waitness
                    </h3>
                    <%= form_tag :action => "insert_waitness"  do %>
                      <div id="hide">
                        <%= text_field 'id' ,'id' , :value=>@the_case.id  %></p>
                      </div>
                      <table>
                        <tr>
                          <td>
                            <p><label for='cin_2'>Cin</label>
                          </td>
                          <td>
                            <%= text_field 'culprit', 'cin' , :id=>"cin_2" , class:"form-control" %></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p><label for='first_name_2'>First name</label>
                          </td>
                          <td>
                            <%= text_field 'culprit', 'first_name' , :id=>"first_name_2" , class:"form-control" %></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p><label for='last_name_2'>Last name</label>
                          </td>
                          <td>
                            <%= text_field 'culprit', 'last_name' , :id=>"last_name_2" , class:"form-control" %></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p><label for='telephone'>Telephone</label>
                          </td>
                          <td>
                            <%= telephone_field 'culprit', 'telephone' , :id=>"telephone" , class:"form-control" %></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p><label for='content_1'>Content</label>
                          </td>
                          <td>
                            <%= text_area 'culprit', 'charged_for' , :id=>"content_1" , class:"form-control" %></p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <%= submit_tag "Create" , class:"btn btn-lg btn-primary btn-block" %>
                          </td>
                        </tr>
                      </table>
                    <% end %>
                  </center>
                </div>
                <center>
                  <h3>
                    Waitnesses
                  </h3>
                </center>
                <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th>
                        <center>
                          Cin
                        </center>
                      </th>
                      <th>
                        <center>
                          First name
                        </center>
                      </th>
                      <th>
                        <center>
                          Last name
                        </center>
                      </th>
                      <th>
                        <center>
                          Telephone
                        </center>
                      </th>
                      <th>
                        <center>
                          Content
                        </center>
                      </th>
                      <th>
                        <center>
                          Show
                        </center>
                      </th>
                      <th>
                        <center>
                          Edit
                        </center>
                      </th>
                      <th>
                        <center>
                          Delete
                        </center>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @waitnesses.each do |waitness| %>
                      <tr>
                        <td>
                          <center>
                            <%= waitness.cin %>
                          </center>    
                        </td>
                        <td>
                          <center>
                            <%= waitness.first_name %>
                          </center>    
                        </td>
                        <td>
                          <center>
                            <%= waitness.last_name %>
                          </center>    
                        </td>
                        <td>
                          <center>
                            <%= waitness.telephone %>
                          </center>    
                        </td>
                        <td>
                          <center>
                            <%= waitness.content %>
                          </center>    
                        </td>
                        <td>
                          <center>
                            <%= link_to '', waitness , class:"glyphicon glyphicon-eye-open" %>
                          </center>    
                        </td>
                        <td>
                          <center>
                            <%= link_to '', edit_waitness_path(waitness) , class:"glyphicon glyphicon-pencil" %>
                          </center>    
                        </td>
                        <td>
                          <center>
                            <%= link_to '', waitness, method: :delete, data: { confirm: 'Are you sure?' } ,  class:"glyphicon glyphicon-trash" %>
                          </center>    
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <br>
              <div id="form-proof">
                <div id="add-proof">
                  <center>
                    <h3>
                      Add proof
                    </h3>
                    <%= form_tag :action => "insert_proof"  do %>
                      <div id="hide">
                        <%= text_field 'id' ,'id' , :value=>@the_case.id  %></p>
                      </div>
                      <table>
                        <tr>
                          <td>
                            <p><label for='type_proof'>Type proof</label>
                          </td>
                          <td>
                            <%= text_field 'proof', 'type_proof' , :id=>"type_proof" , class:"form-control" %></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p><label for='content_0'>Content</label>
                          </td>
                          <td>
                            <%= text_area 'proof', 'content' , :id=>"content_0" , class:"form-control" %></p>
                          </td>
                        </tr>
                      </table>
                    <% end %>
                  </center>
                </div>
                <center>
                  <h3>
                    Proofs
                  </h3>
                </center>
                  <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th>
                          <center>
                            Type proof
                          </center>
                        </th>
                        <th>
                          <center>
                            Content
                          </center>
                        </th>
                        <th>
                          <center>
                            Show
                          </center>
                        </th>
                        <th>
                          <center>
                            Edit
                          </center>
                        </th>
                        <th>
                          <center>
                            Delete
                          </center>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @proofs.each do |proof| %>
                        <tr>
                          <td>
                            <center>
                              <%= proof.type_proof %>
                            </center>
                          </td>
                          <td>
                            <center>
                              <%= proof.content %>
                            </center>
                          </td>
                          <td>
                            <center>
                              <%= link_to 'Show', proof %>
                            </center>
                          </td>
                          <td>
                            <center>
                              <%= link_to 'Edit', edit_proof_path(proof) %>
                            </center>
                          </td>
                          <td>
                            <center>
                              <%= link_to 'Destroy', proof, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </center>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
  $("#example").dataTable();
</script>